<div class = container>
    <h1>High Scores</h1>
    <div style="display: flex; flex-direction: row;"> 
        <div class="scoreBoard">
            <h1>Time Attack</h1>
            <div id = "scores">
                <p>1. {{timeScores[0].name}} : {{timeScores[0].score}}</p>
                <p>2. {{timeScores[1].name}} : {{timeScores[1].score}}</p>
                <p>3. {{timeScores[2].name}} : {{timeScores[2].score}}</p>
                <p>4. {{timeScores[3].name}} : {{timeScores[3].score}}</p>
                <p>5. {{timeScores[4].name}} : {{timeScores[4].score}}</p>
            </div>
        </div>
        <div class="scoreBoard">
            <h1>Streak</h1>
            <div id = "scores">
                <p>1. {{streakScores[0].name}} : {{streakScores[0].score}}</p>
                <p>2. {{streakScores[1].name}} : {{streakScores[1].score}}</p>
                <p>3. {{streakScores[2].name}} : {{streakScores[2].score}}</p>
                <p>4. {{streakScores[3].name}} : {{streakScores[3].score}}</p>
                <p>5. {{streakScores[4].name}} : {{streakScores[4].score}}</p>
            </div>
        </div>
    </div>
</div>
