.container{
    flex-direction: column;
    align-items: center;
    display: flex;
    font-size: xx-large;
}
.option {
    padding: 30px;
}
select {
    width: 200px;
    height: 50px;
    font-size: x-large;
    
}

button {
    margin-left: 10px;
    height: 60px;
    width: 200px;
    font-size: x-large;
}

.option button:hover {
    opacity: 80%;
    /* background-color: #842C93; */
}