<body>
  <div class="container">
    <br/>
      <div *ngIf="authLoading || configLoading">Loading...</div>
      <div *ngIf="!authLoading && !configLoading" id = "optionList">

        <div class = "option">
          Genre:
          <select [(ngModel)]="selectedGenre" (ngModelChange)="setGenre($event)">
            <!-- <option [value]=""></option> -->
            <option [value]="genre" *ngFor="let genre of genres">
              {{ genre }}
            </option>
          </select>
        </div>
        <div class = "option">
          Game Mode:
          <button (click) = "setGameMode('time')" [ngStyle]="{'background-color': (this.gameMode === 'time') ? '#842C93' : '#ffffff'}">Time Attack</button>
          <button (click) = "setGameMode('streak')" [ngStyle]="{'background-color': (this.gameMode === 'streak') ? '#842C93' : '#ffffff'}">Streak</button>
        </div>
        <div class = "option">
          Difficulty:
          <button (click) = "setDifficulty('easy')" [ngStyle]="{'background-color': (this.difficulty === 'easy') ? '#842C93' : '#ffffff'}">Easy</button>
          <button (click) = "setDifficulty('normal')" [ngStyle]="{'background-color': (this.difficulty === 'normal') ? '#842C93' : '#ffffff'}">Normal</button>
          <button (click) = "setDifficulty('hard')" [ngStyle]="{'background-color': (this.difficulty === 'hard') ? '#842C93' : '#ffffff'}">Hard</button>
        </div>


    </div>
    <!-- <button (click)="test()">test</button> -->
    <button (click)="resetScores()">Reset Scoreboard</button>

  </div>
</body>